## Wrangling Income reports by zipcode in Seattle 

### Goals of the Task



There is one table in the dataset retrieved from the Seattle open data portal for 2016 tax returns <br>
*each row is a zipcode and income band. There are 6 bands with ranges of income defined* <br>

- We want to use this data to estimate the average (weighted) income of people living in each zipcode. This may inform us if theres a connection between income levels in an area and cycle hire popularity / behaviour in that area. 
- we can also potentially use this data to work out how many working adults, non working adults and children, eldery people live in a zipcode. This could inform us how many potential cyclists live in each zipcode

#### Step 1 : use pandas to read the csv file as a data frame 
- import pandas as pd 
- use pandas read_csv 
- ensure you are pointing at the correct file path for the data sources (you may have to navigate in your notebook!)

In [3]:
import pandas as pd
tax_returns = pd.read_csv('data/WA_incomes_zip_code.csv')
tax_returns

,Zip Code,Adjusted Gross Income,Number of returns,Number of single returns,Number of joint returns,Number of head of household returns,Number with paid preparer's signature,Number of exemptions,Number of dependents,Total prepared returns,Number of volunteer income tax assistance (VITA) prepared returns,Number of tax counseling for the elderly (TCE) prepared returns,Number of volunteer prepared \r\nreturns with\r\nEarned Income Credit,Number of refund anticipation loan returns,Number of refund anticipation check returns,Number of elderly returns [3],Adjusted gross income (AGI) [4],Number of returns.1,Total Income Amount
0,98001,"$1 under $25,000",4420,3280,530,560,1710,5590,1640,140,100,50,50,40,440,640,54567,4420,55475
1,98001,"$25,000 under $50,000",3750,2130,930,620,1570,6990,2350,90,70,30,0,0,580,610,137006,3750,138595
2,98001,"$50,000 under $75,000",2520,1010,1140,340,1160,5670,2000,30,0,30,0,0,270,570,156568,2520,158094
3,98001,"$75,000 under $100,000",1850,430,1250,140,840,4600,1500,0,0,0,0,0,170,470,160704,1850,162024
4,98001,"$100,000 under $200,000",2680,290,2270,120,1280,7320,2370,0,0,0,0,0,150,650,359959,2680,363321
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2971,99999,"$25,000 under $50,000",14600,8110,3610,2570,6540,26970,8850,580,200,380,30,40,1680,4160,532147,14600,539803
2972,99999,"$50,000 under $75,000",9120,4280,3750,970,4640,17900,5020,230,80,150,0,0,690,3330,561159,9120,567990
2973,99999,"$75,000 under $100,000",5800,1940,3490,350,3130,12400,3080,60,0,60,0,0,310,2290,501512,5800,507322
2974,99999,"$100,000 under $200,000",7840,1660,5860,280,4610,18390,4660,0,0,0,0,0,270,3120,1052792,7840,1068818
2975,99999,"$200,000 or more",2630,580,2050,80,2190,6380,1600,0,0,0,0,0,0,1220,1665460,2630,1692580

#### Step 2: preview the dataframe using pandas functions like .info() .head(), .tail() and .describe() 
- look out for nulls and missing data 
- any problematic data types
- interpret the column headers to see which columns you want to keep

In [4]:
tax_returns.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2976 entries, 0 to 2975
Data columns (total 19 columns):
 #   Column                                                             Non-Null Count  Dtype
---  ------                                                             --------------  -----
 0   Zip Code                                                           2976 non-null   int64
 1   Adjusted Gross Income                                              2976 non-null   object
 2   Number of returns                                                  2976 non-null   int64
 3   Number of single returns                                           2976 non-null   int64
 4   Number of joint returns                                            2976 non-null   int64
 5   Number of head of household returns                                2976 non-null   int64
 6   Number with paid preparer's signature                              2976 non-null   int64
 7   Number of exemptions                                               2976 non-null   int64
 8   Number of dependents                                               2976 non-null   int64
 9   Total prepared returns                                             2976 non-null   int64
 10  Number of volunteer income tax assistance (VITA) prepared returns  2976 non-null   int64
 11  Number of tax counseling for the elderly (TCE) prepared returns    2976 non-null   int64
 12  Number of volunteer prepared
returns with
Earned Income Credit  2976 non-null   int64
 13  Number of refund anticipation loan returns                         2976 non-null   int64
 14  Number of refund anticipation check returns                        2976 non-null   int64
 15  Number of elderly returns [3]                                      2976 non-null   int64
 16  Adjusted gross income (AGI) [4]                                    2976 non-null   int64
 17  Number of returns.1                                                2976 non-null   int64
 18  Total Income Amount                                                2976 non-null   int64
dtypes: int64(18), object(1)
memory usage: 441.9+ KB

In [5]:
tax_returns.head()

,Zip Code,Adjusted Gross Income,Number of returns,Number of single returns,Number of joint returns,Number of head of household returns,Number with paid preparer's signature,Number of exemptions,Number of dependents,Total prepared returns,Number of volunteer income tax assistance (VITA) prepared returns,Number of tax counseling for the elderly (TCE) prepared returns,Number of volunteer prepared \r\nreturns with\r\nEarned Income Credit,Number of refund anticipation loan returns,Number of refund anticipation check returns,Number of elderly returns [3],Adjusted gross income (AGI) [4],Number of returns.1,Total Income Amount
0,98001,"$1 under $25,000",4420,3280,530,560,1710,5590,1640,140,100,50,50,40,440,640,54567,4420,55475
1,98001,"$25,000 under $50,000",3750,2130,930,620,1570,6990,2350,90,70,30,0,0,580,610,137006,3750,138595
2,98001,"$50,000 under $75,000",2520,1010,1140,340,1160,5670,2000,30,0,30,0,0,270,570,156568,2520,158094
3,98001,"$75,000 under $100,000",1850,430,1250,140,840,4600,1500,0,0,0,0,0,170,470,160704,1850,162024
4,98001,"$100,000 under $200,000",2680,290,2270,120,1280,7320,2370,0,0,0,0,0,150,650,359959,2680,363321

In [6]:
tax_returns.tail()

,Zip Code,Adjusted Gross Income,Number of returns,Number of single returns,Number of joint returns,Number of head of household returns,Number with paid preparer's signature,Number of exemptions,Number of dependents,Total prepared returns,Number of volunteer income tax assistance (VITA) prepared returns,Number of tax counseling for the elderly (TCE) prepared returns,Number of volunteer prepared \r\nreturns with\r\nEarned Income Credit,Number of refund anticipation loan returns,Number of refund anticipation check returns,Number of elderly returns [3],Adjusted gross income (AGI) [4],Number of returns.1,Total Income Amount
2971,99999,"$25,000 under $50,000",14600,8110,3610,2570,6540,26970,8850,580,200,380,30,40,1680,4160,532147,14600,539803
2972,99999,"$50,000 under $75,000",9120,4280,3750,970,4640,17900,5020,230,80,150,0,0,690,3330,561159,9120,567990
2973,99999,"$75,000 under $100,000",5800,1940,3490,350,3130,12400,3080,60,0,60,0,0,310,2290,501512,5800,507322
2974,99999,"$100,000 under $200,000",7840,1660,5860,280,4610,18390,4660,0,0,0,0,0,270,3120,1052792,7840,1068818
2975,99999,"$200,000 or more",2630,580,2050,80,2190,6380,1600,0,0,0,0,0,0,1220,1665460,2630,1692580

In [7]:
tax_returns.describe()

,Zip Code,Number of returns,Number of single returns,Number of joint returns,Number of head of household returns,Number with paid preparer's signature,Number of exemptions,Number of dependents,Total prepared returns,Number of volunteer income tax assistance (VITA) prepared returns,Number of tax counseling for the elderly (TCE) prepared returns,Number of volunteer prepared \r\nreturns with\r\nEarned Income Credit,Number of refund anticipation loan returns,Number of refund anticipation check returns,Number of elderly returns [3],Adjusted gross income (AGI) [4],Number of returns.1,Total Income Amount
count,2976.000000,2976.000000,2976.000000,2976.000000,2976.000000,2976.000000,2976.000000,2976.000000,2976.000000,2976.000000,2976.000000,2976.000000,2976.000000,2976.000000,2976.000000,2.976000e+03,2976.000000,2.976000e+03
mean,98606.141129,1138.067876,539.482527,456.344086,127.698253,468.635753,2233.612231,700.463710,27.604167,10.625000,17.076613,2.382392,1.811156,123.306452,269.196909,8.742772e+04,1138.067876,8.863512e+04
std,410.177010,1560.535029,998.941222,642.566185,263.243717,615.564252,2938.780818,1046.587855,68.129925,40.653641,42.385056,13.849234,9.162178,215.337347,336.124717,1.893843e+05,1560.535029,1.918235e+05
min,98001.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00
25%,98271.750000,90.000000,20.000000,50.000000,0.000000,50.000000,200.000000,60.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,30.000000,5.950750e+03,90.000000,6.055750e+03
50%,98556.000000,450.000000,110.000000,200.000000,30.000000,220.000000,990.000000,260.000000,0.000000,0.000000,0.000000,0.000000,0.000000,40.000000,130.000000,2.963050e+04,450.000000,3.011450e+04
75%,98952.250000,1680.000000,540.000000,620.000000,120.000000,710.000000,3372.500000,950.000000,30.000000,0.000000,20.000000,0.000000,0.000000,140.000000,420.000000,1.022158e+05,1680.000000,1.037140e+05
max,99999.000000,18620.000000,13380.000000,6660.000000,3500.000000,7450.000000,26970.000000,13540.000000,1050.000000,640.000000,690.000000,250.000000,110.000000,1870.000000,5230.000000,3.478159e+06,18620.000000,3.516591e+06

#### Step 3: drop unneccessary columns
- change all column headers to lower case 
- use any pandas method to select a subset of columns to a new dataframe 
- retain zipcode, adjusted gross income, number of returns, number of dependants, number of elderly returns

In [8]:
income_df = tax_returns
income_df.columns = income_df.columns.str.lower()
income_df.columns

Index(['zip code', 'adjusted gross income', 'number of returns',
       'number of single returns', 'number of joint returns',
       'number of head of household returns',
       'number with paid preparer's signature', 'number of exemptions',
       'number of dependents', 'total prepared returns',
       'number of volunteer income tax assistance (vita) prepared returns',
       'number of tax counseling for the elderly (tce) prepared returns',
       'number of volunteer prepared \r\nreturns with\r\nearned income credit',
       'number of refund anticipation loan returns',
       'number of refund anticipation check returns',
       'number of elderly returns [3]', 'adjusted gross income (agi) [4]',
       'number of returns.1', 'total income amount'],
      dtype='object')

In [20]:
# Select a subset of columns to a new DataFrame
selected_columns = ['zip code', 'adjusted gross income', 'number of returns', 'number of dependents', 'number of elderly returns [3]']
selected_df = income_df[selected_columns]
selected_df

,zip code,adjusted gross income,number of returns,number of dependents,number of elderly returns [3]
0,98001,"$1 under $25,000",4420,1640,640
1,98001,"$25,000 under $50,000",3750,2350,610
2,98001,"$50,000 under $75,000",2520,2000,570
3,98001,"$75,000 under $100,000",1850,1500,470
4,98001,"$100,000 under $200,000",2680,2370,650
...,...,...,...,...,...
2971,99999,"$25,000 under $50,000",14600,8850,4160
2972,99999,"$50,000 under $75,000",9120,5020,3330
2973,99999,"$75,000 under $100,000",5800,3080,2290
2974,99999,"$100,000 under $200,000",7840,4660,3120
2975,99999,"$200,000 or more",2630,1600,1220

In [21]:
selected_df.columns

Index(['zip code', 'adjusted gross income', 'number of returns',
       'number of dependents', 'number of elderly returns [3]'],
      dtype='object')

In [22]:
selected_df.dtypes

zip code                          int64
adjusted gross income            object
number of returns                 int64
number of dependents              int64
number of elderly returns [3]     int64
dtype: object

In [23]:
selected_df

,zip code,adjusted gross income,number of returns,number of dependents,number of elderly returns [3]
0,98001,"$1 under $25,000",4420,1640,640
1,98001,"$25,000 under $50,000",3750,2350,610
2,98001,"$50,000 under $75,000",2520,2000,570
3,98001,"$75,000 under $100,000",1850,1500,470
4,98001,"$100,000 under $200,000",2680,2370,650
...,...,...,...,...,...
2971,99999,"$25,000 under $50,000",14600,8850,4160
2972,99999,"$50,000 under $75,000",9120,5020,3330
2973,99999,"$75,000 under $100,000",5800,3080,2290
2974,99999,"$100,000 under $200,000",7840,4660,3120
2975,99999,"$200,000 or more",2630,1600,1220

#### step 4: create a column for middle income

focusing on each income band, use the numpy where() function to populate a new column with the middle income of each range (with the exception of the final band, 200k+, which has no middle income of the range  - in these cases, you can use $250k as a suitable substitute)

In [24]:
import numpy as np

income_band_mapping = {
    '$1 under $25,000': 12500,
    '$25,000 under $50,000': 37500,
    '$50,000 under $75,000': 62500,
    '$75,000 under $100,000': 87500,
    '$100,000 under $200,000': 150000,
    '$200,000 or more': 250000
}

# Create a new column 'middle_income' using map function
selected_df['middle_income'] = selected_df['adjusted gross income'].map(income_band_mapping)

# Display the updated DataFrame
# selected_df['adjusted gross income'].unique displayed the actual values within adjust gross income e.g. not 1under25,000 but
# $1 under $25,000
selected_df

C:\Users\Admin\AppData\Local\Temp\ipykernel_10660\1780485193.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_df['middle_income'] = selected_df['adjusted gross income'].map(income_band_mapping)

,zip code,adjusted gross income,number of returns,number of dependents,number of elderly returns [3],middle_income
0,98001,"$1 under $25,000",4420,1640,640,12500
1,98001,"$25,000 under $50,000",3750,2350,610,37500
2,98001,"$50,000 under $75,000",2520,2000,570,62500
3,98001,"$75,000 under $100,000",1850,1500,470,87500
4,98001,"$100,000 under $200,000",2680,2370,650,150000
...,...,...,...,...,...,...
2971,99999,"$25,000 under $50,000",14600,8850,4160,37500
2972,99999,"$50,000 under $75,000",9120,5020,3330,62500
2973,99999,"$75,000 under $100,000",5800,3080,2290,87500
2974,99999,"$100,000 under $200,000",7840,4660,3120,150000
2975,99999,"$200,000 or more",2630,1600,1220,250000

#### Step 5: calculations and aggregations 
- using the number of returns and the middle income of each band, calculate a weighted average income per zipcode in a new dataframe 
- add to this data frame the number of returns per zipcode
- add to this dataframe the aggregated number of dependents per zipcode 
- add to this dataframe the aggregated number of elderly per zipcode

In [34]:

selected_df['weighted_income'] = selected_df['number of returns'] * selected_df['middle_income']

selected_df.head(8)

C:\Users\Admin\AppData\Local\Temp\ipykernel_10660\235138772.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_df['weighted_income'] = selected_df['number of returns'] * selected_df['middle_income']

,zip code,adjusted gross income,number of returns,number of dependents,number of elderly returns [3],middle_income,weighted_income
0,98001,"$1 under $25,000",4420,1640,640,12500,55250000
1,98001,"$25,000 under $50,000",3750,2350,610,37500,140625000
2,98001,"$50,000 under $75,000",2520,2000,570,62500,157500000
3,98001,"$75,000 under $100,000",1850,1500,470,87500,161875000
4,98001,"$100,000 under $200,000",2680,2370,650,150000,402000000
5,98001,"$200,000 or more",540,520,160,250000,135000000
6,98002,"$1 under $25,000",5590,3250,930,12500,69875000
7,98002,"$25,000 under $50,000",5140,4770,790,37500,192750000

In [39]:
# calculating the sum of weighted_income for each zip code so we can then average it per zip code
aggregated_df = selected_df.groupby('zip code').agg({
    'weighted_income': 'sum',
    'number of returns': 'sum',
    'number of dependents': 'sum',
    'number of elderly returns [3]': 'sum'
}).reset_index()

# weighted average per zip
aggregated_df['weighted_average_income'] = aggregated_df['weighted_income'] / aggregated_df['number of returns']
aggregated_df['weighted_average_income'] = aggregated_df['weighted_average_income'].round(2)
aggregated_df

,zip code,weighted_income,number of returns,number of dependents,number of elderly returns [3],weighted_average_income
0,98001,1052250000,15760,10380,3100,66767.13
1,98002,728125000,15710,12390,2900,46347.87
2,98003,1107875000,21740,16250,4260,50960.21
3,98004,2052125000,17440,7910,3930,117667.72
4,98005,980000000,9610,5440,2130,101977.11
...,...,...,...,...,...,...
491,99371,5000000,120,50,50,41666.67
492,99401,5500000,120,30,60,45833.33
493,99402,43875000,790,450,300,55537.97
494,99403,468500000,8820,4640,2840,53117.91
495,99999,3691250000,58610,29980,19350,62979.87

#### Step 6: validate the data
- use EDA techniques including visualisation to validate your calculations and aggregations from the previous step